{% extends 'cinema/layout/base.html' %}
{% load static %}
{% block title %}Редактирование страницы{% endblock %}
{% block content %}

{#    <div class="card card-outline card-danger" style="margin-bottom: 0;padding-bottom: 0;display: none;">#}
{#        <div class="card-body" style="text-align: center">#}
{#            <font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><b>Заполните поля в украинской версии!</b></font></font>#}
{#        </div>#}
{#    </div>#}

    <form id="form-container" enctype="multipart/form-data" method="post" style="padding-top: 70px; margin: 0 70px 0 70px; max-height: content-box">
            {% csrf_token %}
    {%  for hidden_field in page.hidden_fields %}
        {{ hidden_field.errors }}
            {{ hidden_field }}
        {% endfor %}
        <div class="row" style="text-align: right; align-items: center; margin-bottom: 25px">
        <div class="col-sm-10">
            <label class="checkbox-ios">
                {{ page.status }}
                <span class="checkbox-ios-switch">
                </span>
            </label>
        </div>
        <div class="col-sm-2">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="ru-tab" data-bs-toggle="tab" data-bs-target="#ru" type="button" role="tab" aria-controls="ru" aria-selected="true">Русский</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="uk-tab" data-bs-toggle="tab" data-bs-target="#uk" type="button" role="tab" aria-controls="uk" aria-selected="false">Украинский</button>
          </li>
        </ul>
        </div>
    </div>
    <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="ru" role="tabpanel" aria-labelledby="ru-tab">
                    <div class="row" style="margin-bottom: 40px; padding-top: 20px">

                        <div class="col-2">
                            {{ page.title_ru.label_tag }}
                        </div>
                        <div class="col-sm-6">
                            {{ page.title_ru }}
                        </div>

                    </div>
                    <div class="row" style="margin-bottom: 40px">

                        <div class="col-2">
                            {{ page.describe_ru.label_tag}}
                        </div>
                        <div class="col-sm-6">
                            {{ page.describe_ru}}
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="uk" role="tabpanel" aria-labelledby="uk-tab">
                    <div class="row" style="margin-bottom: 40px; padding-top: 20px">
                        <div class="col-2">
                            {{ page.title_uk.label_tag }}
                        </div>
                        <div class="col-sm-6">
                            {{ page.title_uk }}
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 40px">
                        <div class="col-2">
                            {{ page.describe_uk.label_tag }}
                        </div>
                        <div class="col-sm-6">
                            {{ page.describe_uk }}
                        </div>

                    </div>
            </div>
    </div>
    <!-- end name, describe, convenience-->

    <!-- LOGO FORM-->
    <div class="row" style="display: flex">
        <div class="col-sm-2" ><p style="align-items: center" ><b>Главная картинка:</b></p></div>
        <div class="col-sm-3" style="padding-right: 300px">
            <img id="logo_preview" src="{{ page.instance.logo.url }}" width="300px" height="200px" style="max-width: 300px ">
        </div>
        <div class="col-sm-2" style="display: flex; align-items: center">
            <button type="button" onchange="showPreview(event)" class="btn btn-outline-success btn-file" style="display: block; min-width: 100px">
                        Загрузить <input type="file" name="{{ page.logo.name }}" accept="image/*"
                                         id="id-{{ page.logo.name }}">
                    </button>
        </div>
               <div class="col-sm-2" style="display: flex; align-items: center">
                 <button type="button" id="delete-logo" class="btn btn-outline-danger btn-file" style="display: block; width: 100px; min-width: 100px">Удалить</button>
            </div>
    </div>
    <!-- END LOGO-->

 <!-- FORMSET GALLERY-->
        <p><b>Галерея картинок</b></p>
               <div id="gallery" style="max-width: 100%; margin-bottom: 30px" >
                   <div class="row">
                   <div><p><b>Размер 1000х190</b></p></div>
                                <button type="button" class="add-more-img btn btn-block btn-success" id="add_more" style="width: 100px; min-width: 100px; display: block">Добавить</button>
                   </div>
                   <div id="form_set">
                   {{ formset.management_form }}
                               {% for form in formset %}

                           <div id="{{ form.prefix }}-form" style="display: inline-block">
                           {% for hidden in form.hidden_fields %}
                                                          {{ hidden }}
                                                      {% endfor %}

                        <div style="text-align: right; padding-right: 15px">
                            <option value="" style="color: red; text-align: center; display: none" id="{{ form.prefix }}-validation"><b>Некорректные размеры!</b></option>
                            <a class="btn-delete-form" onclick="delete_image(this.id)" id="{{ form.prefix }}">
                                <img class="delete-gallery-form" src="{% static 'cinema/dist/img/deleteimg.png' %}">
                            </a>
                        </div>
                        <div style="text-align: center">
                            <img src="{{ form.instance.image.url }}" id="{{ form.prefix }}-image" height="110" width="200"><br>
                        </div>
                        <div style="text-align: center">
                            <a id="{{ form.prefix }}" onchange="preview_gallery(this.id)" class="btn btn-outline-success btn-file" style="margin: 15px 50px 15px 50px; min-width: 150px">Загрузить
                                {% for visible in form.visible_fields %}
                                {{ visible }}
                                    {% endfor %}
                            </a>
                        </div>
                    </div>
{% endfor %}
                   </div>
                       <div class="delete-list" style="display: none"></div>
                <div id="empty_form" style="display: none">
                    <div id="form-__prefix__-form" style="display: inline-block">
                        <div style="text-align: right; padding-right: 15px">
                            <option value="" style="color: red; text-align: center; display: none" id="form-__prefix__-validation"><b>Размеры не корректны!</b></option>
                            <a class="btn-delete-form" onclick="delete_image(this.id)" id="form-__prefix__">
                                <img class="delete-gallery-form" src={% static 'cinema/dist/img/deleteimg.png' %}>
                            </a>
                        </div>
                        <input type="hidden" name="form-__prefix__-id" id="form-__prefix__-id">
                        <div style="text-align: center">
                            <img src="{% static 'cinema/dist/img/preview_upload.png' %}" id="form-__prefix__-image" height="110" width="200"><br>
                        </div>
                        <div style="text-align: center">
                            <a id="form-__prefix__" onchange="preview_gallery(this.id)" class="btn btn-outline-success btn-file" style="margin: 15px 50px 15px 50px; min-width: 150px">Загрузить
                                <input type="file" name="form-__prefix__-image" accept="image/*" id="id_form-__prefix__-image">
                            </a>
                        </div>
                    </div>
                </div>
    </div>
    <!-- DELETE LIST-->

    <div class="row" style="display: flex; padding-bottom: 25px">
        <div class="col-2" style="align-items: center">{{ news_or_sales.link.label_tag }}</div>
        <div class="col-6">{{ news_or_sales.link }}</div>
    </div>
<!-- SEO TEXT -->
    <h5>SEO block</h5>
{% for s in seo %}
            {{ s.errors }}
            <div class="row" style="max-width: 100%; margin-bottom: 30px" >
                <div class="col-sm-2" style="text-align: right;">{{ s.label_tag }}</div>
                <div class="col-6" style="margin-left: 3px">{{ s }}</div>
            </div>
        {% endfor %}
        <div class="row" style="display:flex; justify-content: center; width: 100%; padding-top: 0; padding-bottom: 50px;">
            <div class="col-3" style="justify-content: center; flex-wrap:nowrap"><input type="submit" id="submit-btn" value="Изменить страницу" class="btn btn-primary"></div>
            <div class="col-2" style="justify-content: center"><a href="{% url 'cinema:pages' %}" role="button" class="btn btn-secondary" style="justify-content: center" >Отмена</a></div>
            </div>
    </form>
<!-- END SEO TEXT -->



<script src="{% static 'cinema/plugins/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'cinema/script_creating/image_preview.js' %}"></script>
        <script src="{% static 'cinema/script_creating/formset_gallery.js' %}"></script>

{% endblock %}